=content_for :header do
  = render :partial => "layouts/event_list_header"

- if @agent.events.size > 0
  %ul.events
    - @agent.events.each do |event|
      %li.event.clearfix{data: "#{agent_event_path(@agent, event)}" }
        .details
          .event-type
            =link_to event.event_type, agent_event_path(@agent, event)
          .happen-time
            = pretty_date_format(event.happen_time)
        .mode
          = image_tag("#{event.mode}.png")
- else
  .no-event.warning-msg
    %p.icon-warning-sign
      Event not found
  .action.new-event
    = button_to "New Event", new_agent_event_path(@agent), :method => :get

.action.delete
  = button_to "Delete Agent", agents_path(@agent), :method => :delete, data: {confirm: 'Are you sure to delete agent?'}
