=content_for :header do
  = render :partial => "layouts/header"

%h1 Listing events

- agent = @agent
= table_for @events do
  - columns :event_type, :description, :mode, :happen_time
  - column :title => "Actions" do |recruit|
    = link_to "Show", agent_event_path(agent, recruit)
    = link_to "Edit", edit_agent_event_path(agent, recruit)
    = link_to "Delete", agent_event_path(agent, recruit), :method => :delete, data: {confirm: 'Are you sure?'}

= link_to 'New event', new_agent_event_path
