=content_for :header do
  = render :partial => "layouts/event_detail_header"

.event-detail
  #notice= notice
  .type.clearfix
    .title
      .event-type
        = @event.event_type
      .happen_time
        = @event.happen_time
    .mood
      = image_tag("#{@event.mode}.png")
  .description
    = @event.description

.action.delete
  = button_to "Delete Event", agent_event_path(@agent, @event), :method => :delete, data: {confirm: 'Are you sure to delete event?'}