%p#notice= notice

%p
  %b Type:
  = @event.event_type
%p
  %b Description:
  = @event.description
%p
  %b Mode:
  = @event.mode
%p
  %b Happen time:
  = @event.happen_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
