=content_for :header do
  = render :partial => "layouts/event_detail_header"

.event-detail
  %p#notice= notice
  .event-type
    = @event.event_type
  .mood
    = image_tag("#{@event.mode}.png")
  %p
    = @event.happen_time
  %p
    = @event.description
  .delete
    = link_to "Delete", agent_event_path(@agent, @event), :method => :delete, data: {confirm: 'Are you sure?'}