%h1 Listing events

= table_for @events do
  - columns :event_type, :description, :mode, :happen_time
  - column :title => "Actions" do |recruit|
    = link_to "Show", recruit
    = link_to "Edit", edit_event_path(recruit)
    = link_to "Delete", recruit, :method => :delete, data: {confirm: 'Are you sure?'}

= link_to 'New event', "/events/new?agent_id=#{params[:id]}"