=content_for :header do
  = render :partial => "layouts/header"

%p
  = link_to "Back", '/'
  = link_to "Add Agent", '/agents/new'

%table
  %thead
    %tr
      %th
        Agent Name
      %th
        Mood
  - @agents.each do |agent|
    %tr
      %td
        = link_to agent.name, agent_events_path(agent)
      %td
        = @agents_map[agent.name]
