=content_for :header do
  = render :partial => "layouts/agent_list_header"

.agents-list
  %ul.agents
    - @agents.each do |agent|
      %li.agent.clearfix
        .agent-photo
          = link_to image_tag("agents/agent_#{agent.id}.png"), agent_events_path(agent)
        .description
          = link_to agent.name, agent_events_path(agent)
        .mode
          = image_tag("#{@agents_map[agent.name]}.png")