=content_for :header do
  = render :partial => "layouts/agent_list_header"

.account-center-menu
  %ul.account-center
    %li.first{data: "#{agents_path}"}
      = link_to "Agents", agents_path
    %li.last{data: "/"}
      = link_to "Sign Out", "/"

.agents-list
  %ul.agents
    - @agents.each do |agent|
      %li.agent.clearfix{data: "#{agent_events_path(agent)}" }
        .agent-photo
          = link_to image_tag("agents/#{agent.name}.png"), agent_events_path(agent)
        .description
          %p.agent-name
            = link_to agent.name, agent_events_path(agent)
          - if agent.events.size > 0
            %p.latest_event
              = link_to agent.events.first.event_type, agent_events_path(agent)
        .mood
          = image_tag("#{@agents_map[agent.name]}.png")
